<div class="table-block">
  <div class="table-heading">
    <span>Vaccination History</span>
  </div>


  <%= render 'histories/vaccination_records', vaccinations: vaccinations, show_checkbox: local_assigns[:show_checkbox] %>
</div>

