<div class=''>

  <h3 class="mb-4 mt-4">Create Group</h3>
  <div class="white-card">
    <div class='white-card-body'>
      <div class=''>
        <%= render 'form', group: @group %>
      </div>
    </div>
  </div>
</div>
