html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body.cr_access {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;

  @font-face {
    font-family: 'Montserrat';
    src: asset-url('Montserrat-UltraLight.woff2') format('woff2'),
    asset-url('Montserrat-UltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Montserrat';
    src: asset-url('Montserrat-Light.woff2') format('woff2'),
    asset-url('Montserrat-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Montserrat';
    src: asset-url('Montserrat-Regular.woff2') format('woff2'),
    asset-url('Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Montserrat';
    src: asset-url('Montserrat-Medium.woff2') format('woff2'),
    asset-url('Montserrat-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }


  @font-face {
    font-family: 'Montserrat';
    src: asset-url('Montserrat-SemiBold.woff2') format('woff2'),
    asset-url('Montserrat-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }


  @font-face {
    font-family: 'Montserrat';
    src: asset-url('Montserrat-Bold.woff2') format('woff2'),
    asset-url('Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }


  /*=====  variables  ======*/
  $bluish: #30DDE4;
  $bluish-hover: #2dced3;
  $bluish-light: #f7f7fc;
  $white: #ffffff;
  $grey-light: #ced4da;
  $grey-f4: #f4f4f4;
  $grey: #6a6a6a;
  $black: #101010;
  $brown: #4B2C03;

  /*=====  Generic style  ======*/


  button,
  input,
  select,
  label {
    font-family: inherit;
    margin: 0;
  }

  a {
    &:hover {
      text-decoration: none !important;
      // color: inherit !important;
    }
  }

  a, .btn {
    transition: all .3s ease;
    cursor: pointer;
    border: 0;

    &:focus {
      outline: transparent;
      box-shadow: none;
    }
  }

  ul {
    list-style: none;
    margin: 0;
  }

  h3 {
    font-size: 1.5rem;
  }

  h1, h2, h3 {
    color: #6A6A6A;
  }

  .custom-control-input {
    &:checked {
      ~ {
        .custom-control-label {
          &::before {
            color: $white;
            background-color: $bluish;
            border: 0 $bluish;
            // box-shadow: 0 0 0 0.2rem rgb(191 170 234);
          }
        }
      }

      &:focus {
        ~ {
          .custom-control-label {
            &:before {
              box-shadow: 0 0 0 0.2rem rgb(184, 161, 231);
            }

            &:after {
              background-image: none;
              left: -19px;
              top: 6px;
              width: 5px;
              height: 10px;
              border: solid #ffffff;
              border-width: 0 2px 2px 0;
              -webkit-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
              transform: rotate(45deg);
            }
          }
        }
      }
    }
  }

  .custom-control-label {
    cursor: pointer;
  }

  .primary-btn {
    background: rgb(49, 174, 177);
    background: -moz-linear-gradient(180deg, rgba(46, 169, 173, 1) 0%, rgba(70, 199, 2004, 1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(46, 169, 173, 1) 0%, rgba(70, 199, 2004, 1) 100%);
    background: linear-gradient(180deg, rgba(46, 169, 173, 1) 0%, rgba(70, 199, 2004, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4a11b9", endColorstr="#280a64", GradientType=1);
    color: $white;
    box-shadow: 0 0 4px 1px #bffeff;
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    &:hover {
      color: $white;
      opacity: 0.85;
    }

    &:focus {
      box-shadow: none;
    }
  }

  .btn-primary-small {
    background: $bluish;
    color: $white;
    padding: 0.3rem 3rem;
    font-weight: 300;

    &:hover {
      background: $bluish-hover;
      color: $white !important;
    }
  }

  .btn-outline-small {
    padding: 0.3rem 3rem;
    font-weight: 300;
    border: 1px solid $grey-light;

    &:hover {
      background: $grey-light;
      color: $grey;
    }
  }

  .default-btn {
    background: $white;
    border: 1px solid $grey-light;

    &:hover {
      background: $grey-f4;
      color: $grey !important;
    }
  }

  .form-control {
    border-color: #d1d6ee;
    height: 2.8125rem;
    border-radius: 0.525rem;

    &:focus {
      box-shadow: none;
      border-color: $bluish;
      outline-color: $bluish;
    }

    &::placeholder {
      font-size: 0.8rem;
      color: #ccc;
    }
  }

  .white-card {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;

    .white-card-body {
      padding: 0;

      .profile-image {
        width: 5.4375rem;
        height: 5.4375rem;

        img {
          @extend .drop-shadow;
        }
      }
    }
  }

  .text-inline {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    flex-direction: column;
  }

  .drop-shadow {
    filter: drop-shadow(0px 0px 12px #e1d9f2);
    overflow: hidden;
    border-radius: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .block-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .text-center-xs {
    text-align: center;
  }

  .d-xs-none {
    display: none;
  }

  .mb-xs-2 {
    margin-bottom: 1.5rem;
  }

  .mt-xs-2 {
    margin-top: 1.5rem;;
  }

  .lg-btn {
    width: 11.5rem;
    text-transform: capitalize;
    padding-top: 1rem;
    font-weight: 400;
    padding-bottom: 1rem;
    border-radius: 0.4rem;

    &:not(:last-child) {
      margin-right: 3rem;
    }
  }

  .divider {
    margin-top: 4rem;
    margin-bottom: 3rem;
    border: 0;
    border-top: 2px dashed rgba(0, 0, 0, 0.1);
  }

  .clr-purple {
    color: $bluish;
  }

  ul.navbar-nav {
    display: flex;
    align-items: center;
  }

  label {
    font-weight: 500;
    color: #6A6A6A;
    padding-bottom: 0.2rem;

    abbr {
      display: none;
    }
  }

  .img-thumbnail {
    border-color: $bluish;
    width: 18.75rem;
    padding: 1rem;
    margin-bottom: 1rem;
  }

  .text-muted {
    color: #7B7B7B !important;
  }

  .no-gutter {
    padding-left: 0;
    padding-right: 0;
  }


  .navbar {
    box-shadow: 0 0 5px 1px #a18ccb;
    padding: 1rem 0 1rem 1rem;
    border-top: 3px solid $bluish;

    .purple {
      display: none;
    }
  
    .bluiesh {
      display: block;
    }

    .navbar-brand {
      margin-right: 0;

      img {
        width: 3.125rem;
      }
    }

    .nav-link {
      line-height: 2;

      .profile-image {
        width: 35px;
        height: 35px;
      }
    }

    .form-control {
      padding-left: 2.2rem;
      font-size: 0.8rem;
      height: 1.875rem;
      border-radius: 6px;
    }

    .search-icon {
      position: absolute;
      padding-left: 5px;
      color: $grey-light;

      img {
        width: 1rem;
      }
    }

    .logout {
      img {
        width: 1.25rem;
      }

      &:hover {
        filter: brightness(0.8);
      }
    }

    .menu-btn {
      img {
        width: 1.2rem;
      }
    }

    .user-xs {
      .dropdown {
        .dropdown-toggle {
          &:after {
            display: none;
          }
        }
      }
    }

    .navbar-toggler {
      position: relative;
      padding: 0;
      border: 0;
      margin-bottom: 5px;

      &:focus,
      &:active {
        outline: 0;
      }

      span {
        display: block;
        background-color: $brown;
        height: 2px;
        width: 22px;
        margin-top: 4px;
        line-height: 22px;
        margin-bottom: 6px;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
        position: relative;
        left: 0;
        opacity: 1;

        &:nth-child(1),
        &:nth-child(3) {
          -webkit-transition: transform .3s;
          -moz-transition: transform .3s;
          transition: transform .3s;
        }

        &:nth-child(1) {
          // margin-top: 0;
        }

        &:nth-child(3) {
          margin-bottom: 0;
          width: 15px;
        }
      }

      &:not(.collapsed) span:nth-child(1) {
        position: absolute;
        left: -1px;
        top: 6px;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        transform: rotate(135deg);
        opacity: 0.9;
      }

      &:not(.collapsed) span:nth-child(2) {
        height: 12px;
        visibility: hidden;
        background-color: transparent;
      }

      &:not(.collapsed) span:nth-child(3) {
        position: absolute;
        left: -1px;
        top: 6px;
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        transform: rotate(-135deg);
        opacity: 0.9;
        width: 22px;
      }
    }
  }

  /*=====  Sidebar  ======*/
  .sidebar {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    float: left;
    transform: translateX(0px);
    z-index: 999;
    transition: all 0.3s ease;
    height: 100%;

    .sidebar-menu, .sidebar-menu-mini {
      margin-bottom: 0;
      min-height: 100vh;
      background-color: $bluish;
      background: asset-url('sidebar-bg-cr.svg') no-repeat center;
      background-size: cover;
      width: 100%;
      overflow-y: auto;
      padding-top: 1rem;

      li {
        color: #ffffff;
        padding: 1.2rem 2rem;
        margin-bottom: 0.5rem;
        line-height: 1.563rem;

        img {
          width: 1.25rem;
        }

        a {
          color: #ffffff;
        }

        &:hover, &.active {
          cursor: pointer;
          box-shadow: 0 2px 5px 1px #18a2a7;
        }
      }
    }

    .sidebar-menu {
      width: 300px;
      display: none;

      li {
        span {
          padding-left: 1rem;
        }
      }

      .close-xs {
        text-align: right;
        padding: 0 1.5rem;

        img {
          width: 1.5625rem;
        }
      }
    }

    .sidebar-menu-mini {
      display: none;
      width: 100px;

      li {
        text-align: center;

        span {
          padding-left: 0;
        }
      }
    }
  }


  /*=====  mobile menu  ======*/
  .mobile-menu {
    &.navbar {
      padding-bottom: 0;
    }

    .navbar-collapse {
      background-color: $bluish;
      margin-left: -1rem;

      li {
        color: #ffffff;
        padding: 1.2rem 1rem;
        margin-bottom: 0.5rem;
        line-height: 1.563rem;

        img {
          width: 1.1rem;
        }

        a {
          color: #ffffff;
        }

        span {
          padding-left: 1rem;
        }
      }
    }
  }


  .content-wrapper,
  .content-wrapper-full {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  /*----------  Table Block  ----------*/
  .table-block {
    box-shadow: -3px 3px 12px 5px $grey-f4;
    margin-bottom: 1rem;
    background: $white;
    border-radius: 0.8rem;

    .table {
      color: $grey;
      margin-bottom: 0;
      white-space: nowrap;

      th {
        border-color: $bluish-light;
        border-top: 0;
        font-weight: 500;
      }

      td {
        border: 0;
        font-weight: 300;
        vertical-align: middle;
      }

      tr {
        &:hover {
          background-color: $bluish-light;
        }
      }
    }

    .table-heading {
      background: $bluish;
      padding: 0.7rem 2.5rem;
      color: $white;
      font-weight: 500;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border-radius: 1rem 1rem 0 0;

      .btn {
        margin-top: 0.3rem;
      }
    }
  }

  /*----------  Profile Block  ----------*/
  .profile-block {
    .white-card {
      .img-thumbnail {
        border-color: $bluish;
      }
    }
  }

  /*----------  Sign up  ----------*/
  .pre-reg-form {
    display: flex;
    margin: auto;

    h2 {
      margin-bottom: 2.5rem;
      margin-top: 2.5rem;
      color: $bluish;
    }

    label {
      font-weight: 500;
      color: $bluish;
      padding-bottom: 0.2rem;
    }

    .btn-submit {
      width: 100%;
      height: 2.8125rem;
      font-weight: 500;
    }

    input[type="file"] {
      padding-left: 0.625rem;
    }
  }

  /*----------  Sign in  ----------*/
  .login-form-block {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    max-height: 100vh;

    .login-form {
      padding: 5rem 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;

      .logo {
        width: 12.5rem;

        img {
          width: 100%;
        }
      }

      .heading-text {
        padding-bottom: 1.5rem;
        padding-top: 2.5rem;

        h2 {
          margin-bottom: 0;
        }

        &:after {
          content: "";
          width: 4rem;
          height: 0.15rem;
          background: #f22728;
          display: block;
          margin-top: 0.5rem;
        }
      }

      .primary-btn {
        height: 2.8125rem;
        background: $bluish;
        text-transform: uppercase;
        font-weight: 500;
      }

      .forget-pass {
        color: $bluish;
        text-decoration: underline;
      }

      .remember-me {
        label {
          color: $black;
          font-weight: 400;
        }
      }
    }

    .login-img {
      // width: 100%;
      img {
        // width: 100%;
      }

      background: asset-url('oval.svg') no-repeat center;
      width: 100%;
      height: 100vh;
      background-size: cover;
      background-color: $bluish;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: $white;

      h2 {
        color: $white;
      }

      p {
        font-weight: 200;
      }
    }

    .logo-text {
      max-width: 35rem;
      text-align: center;
      margin-top: 5rem;
    }
  }

  .forgot-block {
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 100vh;
    justify-content: center;

    h2 {
      margin-bottom: 2rem;
    }

    .primary-btn {
      height: 2.8125rem;
      background: $bluish;
      text-transform: uppercase;
      font-weight: 500;
    }

  }

  /*----------  Edit Profile  ----------*/
  .edit-profile {
    .action-btn {
      text-align: right;

      .primary-btn {
        font-size: 0.8em;
        font-weight: 300;
        padding: 0.7rem 0.6rem;
        min-width: 10rem;
        margin-left: 0.8em;
      }
    }
  }

  #user_profile_picture {
    display: block;
  }

  /*----------  Share Info  ----------*/
  .share-info {
    .card-text {
      box-shadow: 0 0 5px 1px #eae9ee;
      padding: 1rem;
      border-radius: 0.3rem;
      margin-bottom: 1rem;
      display: flex;
      flex-direction: column;

      label {
        &:nth-of-type(1) {
          font-weight: 600;
        }

        &:nth-of-type(2) {
          color: $black;
          font-weight: 400;
        }
      }
    }
  }

  /*----------  Qr verify  ----------*/
  .block-inline {
    display: inline-block;
    vertical-align: middle;
    padding-left: 1.5rem;
  }


  /* Change Autocomplete styles in Chrome*/
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    border: 1px solid $bluish;
    -webkit-box-shadow: 0 0 0 1000px #fff inset;
    transition: background-color 5000s ease-in-out 0s;
  }

  .field_with_errors {
    .form-control {
      border-color: #f22728;
    }

    .error {
      color: #f22728;
    }

  }

  @media(min-width: 640px) {
    .table-block {
      .table-heading {
        justify-content: space-between;
        flex-direction: row;

        .btn {
          margin-top: 0;
        }
      }
    }
  }

  @media(min-width: 992px) {
    .page-wrapper {
      display: flex;
      gap: 1rem;
    }

    .text-center-xs {
      text-align: left;
    }

    .block-text {
      align-items: flex-start;
    }

    .d-xs-none {
      display: flex;
    }

    .mb-xs-2 {
      margin-bottom: 0;
    }

    .mt-xs-2 {
      margin-top: 0;
    }

    .white-card {
      box-shadow: -3px 3px 12px 5px #f6f3fc;
      border-radius: 1.25rem;
      overflow: hidden;

      &:before {
        content: "";
        border-top: 15px solid $bluish;
        display: block;
      }

      .white-card-body {
        padding: 2rem 2.8rem;

        .profile-image {
          width: 8.4375rem;
          height: 8.4375rem;
        }
      }
    }

    .text-inline {
      flex-direction: row;
      gap: 2.5rem;
    }

    .edit-profile,
    .share-info {
      .text-inline {
        margin-bottom: 4rem;
      }
    }

    .navbar {
      padding: 1rem 2rem;

      .navbar-brand {
        order: 0;
        flex: 0.28;

        img {
          width: 5.3125rem;
        }
      }

      .sidebar-menu-toggle {
        flex: 0.3;
      }

      .navbar-collapse, .navbar-toggler {
        flex: 1;
      }
    }

    .sidebar {
      position: sticky;
      top: 0;
      display: block;

      .sidebar-menu {
        width: 300px;
        display: none;

        .close-xs {
          display: none;
        }
      }
    }

    .content-wrapper {
      width: calc(100% - 300px);
    }

    .content-wrapper-full {
      width: calc(100% - 100px);
    }

  }

  @media (min-width: 1366px) {
    .login-form-block {
      .login-form {
        padding: 5rem;
      }
    }
  }
}