<div>
  <% unless f.object.primary %>
    <ul>
      <li>
        Child <%= f.object.full_name %>'s vaccination info will be added
      </li>
    </ul>
  <% end %>

  <%= f.hidden_field :encoded_attributes %>

  <% if f.object.primary %>
    <%= f.input :profile_picture, input_html: { class: 'profile_picture' } %>
  <% else %>
    <%= f.input :profile_picture, input_html: { class: 'profile_picture' }, label: "#{f.object.full_name}'s Profile Picture'" %>
  <% end %>
</div>
