<div class="container my-5">
  <div class="row justify-content-md-center">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <div class='mb-4 mt-4'>
        <h1>Congratulations!</h1>
      </div>
      <div class="white-card">
        <div class="white-card-body">
          <p>You are now part of CRAccess</p>
          <p>Please confirm your email by clicking the link sent to your email or you won't be able to login.</p>
          <% if @password %>
            <p>Your account has been created with the following credentials:</p>
            <p>
              <strong>Email:</strong> <%= @user.email %><br>
              <strong>Password:</strong> <%= @password %>
            </p>
            <p>Make sure to reset your password later.</p>
          <% else %>
            <p>You already have an account with the email <%= @user.email %>, use that to login.</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
