<div class="container my-5">
  <div class="row justify-content-md-center">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <div class='mb-4 mt-4'>
        <h1>Congratulations!</h1>
      </div>
      <div class="white-card">
        <div class="white-card-body">
          <p>You are now part of CRAccess</p>
          <% if @new_record %>
            <p>An email has been sent to you. Please verify your email address by clicking on the link provided in the
              body of the email.
            </p>
          <% else %>
            <p>You already have an account with the email <%= @user.email %>, use that to login.</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
